BasedOnStyle: Google

# Always use 3 space indentation
IndentWidth: 3
ContinuationIndentWidth: 3
TabWidth: 3
AccessModifierOffset: -3 # `public`, `private` are same indentation as `class`
UseTab: Never

# lines longer than this get wrapped
ColumnLimit: 105

# no indentation inside namespaces
NamespaceIndentation: None

# Always put braces on newlines
BreakBeforeBraces: Allman

# Sort includes within blocks, but
# keep blocks in the same order
IncludeBlocks: Preserve
SortIncludes: true

# Fit all function arguments on a single line if
# possible, otherwise one per line
BinPackParameters: OnePerLine
BinPackArguments: false

# Constructor lists have one member per line, comma first
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

# if/for/while have braces
# NB. This also inserts brackets for guard clauses
InsertBraces: true

# functions can only be on a single line when defined in a class, or empty functions
AllowShortFunctionsOnASingleLine: Inline

# don't care about keeping variable names, '=', comments aligned
AlignConsecutiveDeclarations: None
AlignConsecutiveAssignments: None
AlignConsecutiveMacros: None

# Begin items on newline if line is too long
AlignAfterOpenBracket: AlwaysBreak

# Consistent ordering for variable qualifiers
QualifierAlignment: Custom
QualifierOrder: ['static', 'inline', 'constexpr', 'const', 'type']

# `case` has the same indentation as `switch`
IndentCaseLabels: false

# various added/removed spaces configs
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
Cpp11BracedListStyle: true

# line wrap long comments
ReflowComments: true
